.b-team
  .row
    -# .col-lg-3.col-md-3
    -#   %figure.b-team__member
    -#     .hexagon.max
    -#       .hexTop
    -#       .hexBottom
    -#     %figcaption.b-team__text
    -#       %h3.b-team__name Max
    -#       %p.b-team__position Specs and planning
    -#       %span System architecture, Agile development, Management
    .col-lg-3.col-md-3
      %figure.b-team__member
        .hexagon.ann
          .hexTop
          .hexBottom
        %figcaption.b-team__text
          %h3.b-team__name Ann
          %p.b-team__position Talented Designer
          %span Adobe Photoshop, Illustrator, Flash, Corel Draw, InDesign, HTML5
    .col-lg-3.col-md-3
      %figure.b-team__member
        .hexagon.peter
          .hexTop
          .hexBottom
        %figcaption.b-team__text
          %h3.b-team__name Peter
          %p.b-team__position Team lead
          %span Full web stack development, Ruby on Rails, Javascript, Management
    .col-lg-3.col-md-3
      %figure.b-team__member
        .hexagon.alexey
          .hexTop
          .hexBottom
        %figcaption.b-team__text
          %h3.b-team__name Alexey
          %p.b-team__position Senior engineer
          %span Full web stack development, Ruby on Rails, Database management, Server management
